

<h1>Test API</h1>



<a href="<%= TestApi.new.auth_end_user %>">Authentification</a>


<div class="mainwrapper">
  <div class="container">
    <div class="row">
      <div class="
        col-xs-12 col-md-8 col-md-offset-2">
        <% @operations.each do |operation| %>
          <div class="operation-container">

         <!--    <div class="op-category-container" style="background-color: <%= operation.category.color %>">

            </div>


            <div class="op-date-container">
              <%= operation.date %>
            </div>

            <div class="op-title-container">
              <%= operation.title %>
            </div>
            <div class="op-amount-container">
              <%= operation.amount %>
            </div> -->

          </div> <!-- closing operation container -->
        <% end %>
      </div> <!-- closing col -->
    </div> <!-- closing row -->
  </div> <!-- closing container -->
</div> <!-- closing mainwrapper -->
